
  .aboutMe__content {


    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-auto-flow: row;
    justify-items: center;
    align-items: center;
    grid-template-areas:
    "imgMe right ";

    .imgMe{
      width: 50%;
      box-shadow: 5px 3px 6px 4px #373737;
      border-radius: 10px;


    }
    .sectionBtn{
      margin-top: 20px;
      background-color: #000C24;
      padding: 10px;
      color:#1d4dcb;
      border-radius: 8px;
      font-size: 18px;
      margin: 20px 0;
      &:hover{
        cursor: pointer;
        color: red;
      }
    }

  }


