@import '../../scss/variables.scss';

.aboutMe__content {
  padding-top: 100px;
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-auto-flow: row;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    "imgMe right ";

  @media (max-width: 620px) {
    display: flex;
    flex-direction: column;
  }

  .sectionTitle {
    margin-top: 4vh;
  }

  &_wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: $indexSize;

    button {
      width: calc($indexSize*10);
    }
  }


  .imgMe {

    width: 50%;
    box-shadow: 5px 3px 6px 4px #373737;
    border-radius: 10px;

    @media (max-width: 1024px) {
      width: 60%;
    }

    @media (max-width: 768px) {
      width: 85%;
    }

    @media (max-width: 620px) {
      margin: 50px 0;
    }

  }

  .sectionBtn {
    margin-top: 20px;
    background-color: #000C24;
    padding: 10px;
    color: #1d4dcb;
    border-radius: 8px;
    font-size: 18px;
    margin: 20px 0;

    &:hover {
      cursor: pointer;
      color: red;
    }
  }

}