@import "../../animation";
@import "../../scss/variables.scss";

.header {
  .active {
    color: #ffff4f;
    font-weight: bold;

    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 2px;
      background-color: #ffff4f;
    }
  }

  color: white;
  letter-spacing: .3rem;
  position: relative;
  height: 100vh;

  .burgerMenu {
    position: fixed;
    top: 5%;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(59, 59, 59, 0.5);
    display: none;
    z-index: 99999;

    ul {
      display: flex;
      flex-direction: column;
      background-color: #00041f;

      height: 100%;
      width: 250px;
      animation-name: fromLeft;
      animation-duration: .5s;
    }
  }

  .show {
    display: initial;

  }

  .scroll {
    width: 45px;
    height: 45px;
    position: absolute;
    z-index: 99;
    left: 0;
    right: 0;
    margin: 0 auto;
    animation-name: scrollDown;
    animation-iteration-count: infinite;
    animation-duration: 2s;

    * {
      fill: #02b4ff;
    }
  }




  img {
    position: absolute;
    z-index: -1;
    left: calc($indexSize*(-5));
    max-width: 100vw;
  }

  nav {
    width: 100%;
    position: fixed;
    z-index: 9999;
    opacity: 0.95;
    background-color: #00041f;
    display: flex;
    justify-content: flex-end;



    ul {
      li {
        margin: 0;
        font-size: calc($indexSize*.5);
        padding: 12px 30px;

        &:hover {
          cursor: pointer;
          color: white;
        }
      }
    }
  }

  ul {
    display: flex;

    @media (max-width: 1024px) {
      display: none;
    }

    li {
      padding: 24px 30px;
      list-style: none;
      margin-right: 65px;
      margin: 20px 0;
      color: #928A97;
    }
  }

  .aboutMe {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: end;
    justify-content: center;
    font-size: calc($indexSize*1.4);
    color: $baseTextColor;


  }
}