.content{

  padding: 80px 35px;
  position: relative;
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-auto-flow: row;
  justify-items: center;
  align-items: center;
  @media (max-width: 940px) {
    display: block;
  }
  grid-template-areas:
    "left right ";
  .left{
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    .totalProjects{
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      justify-content: center;
      @media (max-width: 940px) {
        bottom: 1%;
      }
      &__item{
        width: 100px;
        height: 7px;
        border: none;
        background: #c6b9ca;
        margin-right: 10px;
        transition: all .2s ease-in;

        &__active{
          background: #000C24;
        }
        &:hover{
          cursor: pointer;
          box-shadow: 0 5px 6px 0 #cfcfcf;
        }
      }
    }

  }
  .worksInfo{
    h3{
      font-size: 24px;
    }
    h2{
      margin-bottom: 10px;
    }
    .worksBtns{

      padding: 10px 0;
      display: flex;
      flex-wrap: wrap;
      .technologyBtn{
        border: none;
        color: white;
        font-size: 1.1rem;
        background: #1d4dcb;
        border-radius: 4px;
        padding: 8px 12px;
        margin-right: 10px;
        margin-bottom: 10px;

      }
    }
  }


  .nextBtn, .prevBtn{
    position: absolute;
    border: none;
    font-size: 1.2rem;
    color:white;
    padding: 10px 20px;
    background: #928A97;
    transition: all .3s ease-in;

  }

  .nextBtn{
    left: 33.7%;
    border-radius: 35px 0 0 35px;
    &:hover{
      cursor: pointer;
      color: red;
      padding-left: 35px;
      left: calc(33.7% - 15px);
    }

  }
  .prevBtn{
    border-radius:0 35px   35px 0;
    left: 13.3%;
    &:hover{
      cursor: pointer;
      color: red;
      padding-right: 35px;
    }
  }
  .right{
    width: 90%;
    margin: 0 auto;
    height: 90%;
    margin-top: 10px;
    h1{
      color: red;
    }

  }
  .bg{
    position: absolute;
    left: 5%;
    z-index: -2;
  }
  .worksImg {
    width: 360px;
    height: 490px;
    top: 0;
    border-radius: 10px;
    box-shadow: -1px 5px 13px 8px #787878;
    left: 15%;
    overflow: hidden;
    img{
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
  .itemBg{
    position: absolute;
    left: 117px;
    top: 0;
    z-index: -3;
  }

  .sectionName {
    color: red;

  }

  .sectionTitle {
    max-width: 600px;
  }
}

