.footer{
  background-color: #000C24;
  color: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px 0;
  @media (max-width: 1050px) {
    img{display: none;}
    font-size: 15px;

  }
img{
  position: absolute;
  right: 10%;
  top: 0;
  height: 100%;

}
  
}