@keyframes slideLeft {
  0% {
    transform: translateX(-2000%);
  }
  30% {
    transform: translateX(80px);
  }
  50% {
    transform: translateX(-150px);
  }
  75% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(0);

  }
}
@keyframes fromLeft {
  0% {
    transform: translateX(-200%);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
opacity: 1;
  }
}

@keyframes fromBottom {
  0% {
    transform: translateY(200%);
    opacity: 0;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}


@keyframes scrollDown {
  from {
    bottom: 7%;
  }

  to {
    bottom: 10%;
  }
}