::-webkit-scrollbar {
  width: 10px;

}

::-webkit-scrollbar-track {
  background: #75716e;
}

::-webkit-scrollbar-thumb {
  background: #00041f;
  height: 40px;
}

* {
  margin: 0;
  box-sizing: border-box;
}

ul li {
  list-style: none;
  padding: 0;
  margin: 0;
}

section {
  padding: 200px 0 !important;

  @media (max-width: 768px) {
    padding: 80px 0 !important;

  }
}

.menu-icon {
  visibility: hidden;
  margin: 20px 25px;
  width: 20px;
  height: 14px;
  cursor: pointer;
  position: relative;

  @media (max-width: 1024px) {
    visibility: initial;
  }
}

.menu-icon span {
  background-color: #ffffff;
  height: 2px;
  position: absolute;
  width: 100%;
  left: 0;
  transition: all 0.3s ease;
}

.menu-icon span:first-child {
  top: 0;
}

.menu-icon span:nth-child(2) {
  top: 6px;
}

.menu-icon span:last-child {
  top: 12px;
}

.burgerOpen.menu-icon span:nth-child(2) {
  opacity: 0;
}

.burgerOpen.menu-icon span:first-child,
.burgerOpen.menu-icon span:last-child {
  top: 6px;
  background-color: red;
}

.burgerOpen.menu-icon span:first-child {
  transform: rotate(45deg);
}

.burgerOpen.menu-icon span:last-child {
  transform: rotate(-45deg);
}

main {
  overflow: hidden;
}

.container {
  padding: 0 15px;
}

.colorBox {
  margin: 0 15px;

  h1,
  h2 {
    color: #1d4dcb;
  }

  @media (max-width: 768px) {
    margin: 0 15px;
  }

  button {
    border: none;
    color: white;
    font-size: 16px;
    background-color: #1d4dcb;

    &:hover {
      box-shadow: 1px 3px 3px 0 #3869f8;
    }
  }

  background-image: linear-gradient(to right top, #02002a, #03052e, #030a32, #020e36, #01123a, #011238, #011335, #021333, #04102a, #040c20, #020817, #00030b);
  padding: 20px;
  color:white;
  border-radius: 10px;
  box-shadow: 7px 5px 11px 2px #032763;

}

.btnBlack {
  font-size: 20px;
  background: #000C24;
  margin: 12px 0;
  border-radius: 4px;
  color: white;
  padding: 10px 37px;
  transition: all .2s ease-in;

  &:hover {
    cursor: pointer;
    color: red;
    box-shadow: 0 5px 6px 0 #787878;
    transform: translateY(-5px);
  }
}

ul {
  padding: 0;
}

.d-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1460px;
  margin: 0 auto;
}

section {
  padding: 80px 15px;

}