@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,400;1,600&display=swap');
@import './variables.scss';

.title {
    font-family: Arial, Helvetica, sans-serif;
    padding: calc($indexSize*.5);
    border: 6px solid #000E23;
    text-align: center;
    margin: 0 auto;
    width: calc($indexSize*15);
}


body {
    font-size: calc($indexSize*1);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    background: radial-gradient(50% 50% at 50% 50%, rgba(26, 21, 21, 0) 0%, rgba(1, 1, 1, 0.16) 100%), #FFFFFF;
}